<% content_for :head do %>
  <%= append_javascript_pack_tag 'stimulus' %>
<% end %>

<%= render 'login_button' unless current_user.present? %>

<% if @first_level_user_job_roles.present? %>
  <section class="container mt-4">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'user_job_roles', locals: { user_job_roles: @first_level_user_job_roles } %>
      </div>
    </div>
  </section>
<% end %>
