<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with model: @contract_basic, url: batch_ai_filling_review_admin_contract_path(id: @contract_basic.id) do |f| %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t("contract_reviews.confirm_batch_ai_filling_review.title") -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <%= f.submit t('form.confirm'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
